 /* ******* VARIABLES ****** */

 :root{
    --color-primario:#13a8fe;
    --color-primario-oscuro:#0371b0;
    --color-secundario: #ff00ff;
    --color-terciario: #ffa300;
    --color-adicional: #cf0060;
    --color-fondo: #000045;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-gris-oscuro: #414141;
    --color-gris-claro: #ccc;
    --color-verde-neon: #2ef8a0;
    --color-rojo-neon: #f82e86;            
}

@font-face {
    font-family: 'MuseoModerno';
    src: url(fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Codystar';
    src: url(fonts/Codystar/Codystar-Regular.ttf);
}
@font-face {
    font-family: 'cube';
    src: url(fonts/cube/Cube.ttf);
}
@font-face {
    font-family: 'neon';
    src: url(fonts/neon/Neon.ttf);
}
@font-face {
    font-family: 'rampart';
    src: url(fonts/Rampart_One/RampartOne-Regular.ttf);
}

/*! ******* GENERALES ****** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: var(--color-primario);
    color: var(--color-blanco);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover{
    background: var(--color-primario-oscuro);
}

.badge{
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: default;
    transition: all 0.5s;
}

/*** Menú sociales ****/

.nav_sociales{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-fondo);
}

.nav_sociales a{
    color: var(--color-blanco);
    opacity: 0.5;
    font-size: 14px;
    margin: 0 30px;
    transition: all 0.5s;
}

.nav_sociales a:hover{
    opacity: 1;
    transform: scale(2);
}


/* Menú principal */

.nav_principal{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav_principal img{
    width: 300px;
    cursor: pointer;
}

.nav_principal .input_search{
    width: 40%;
    position: relative;
} 

.nav_principal .input_search input{
    width: 100%;
    height: 35px;
    border-radius: 50px;
    border: 1px solid var(--color-secundario);
    color: var(--color-gris-oscuro);
    font-size: 14px;
    outline: none;
    padding: 0 50px 0 30px;
}

.nav_principal .input_search input::placeholder{
    letter-spacing: 2px;
    color: var(--color-gris-claro);
}

.nav_principal .input_search i{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-adicional);
}

.nav_principal .enlaces a{
    font-size: 14px;
    padding: 10px 15px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-fondo);
    border-radius: 50px;
    transition: all 0.3s;
}

.nav_principal .enlaces a:hover{
    color: var(--color-blanco);
}

.nav_principal .enlaces a:nth-child(1):hover{
    background: var(--color-primario);
}

.nav_principal .enlaces a:nth-child(2):hover{
    background: var(--color-secundario);
}

.nav_principal .enlaces a:nth-child(3):hover{
    background: var(--color-terciario);
}


/*? ****Header**** */

header{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

header .imagen_header{
    width: 60%;
    height: 100%;
    background: url(img/game1.png);
    background-size: cover;
    background-position: center;
    clip-path: circle(90% at 92% 50%);
    z-index: 2;
    transition: all 0.5s;
}

header .content_header{
    width: 50%;
}

header .content_header *{
    margin: 10px 0;
}

header .content_header h3{
    font-size: 65px;
    font-weight: 300;
}

header .content_header p{
    font-size: 19px;
}

